<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<!-- For IE -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<!-- For Resposive Device -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- For Window Tab Color -->
		<!-- Chrome, Firefox OS and Opera -->
		<meta name="theme-color" content="#2c2c2c">
		<!-- Windows Phone -->
		<meta name="msapplication-navbutton-color" content="#2c2c2c">
		<!-- iOS Safari -->
		<meta name="apple-mobile-web-app-status-bar-style" content="#2c2c2c">

		<title>AVESTUD -  The Perfect Studyroom</title>

		<!-- Favicon -->
		<link rel="icon" type="image/png" sizes="56x56" href="images/fav-icon/fevicon.png">


		<!-- Main style sheet -->
		<link rel="stylesheet" type="text/css" href="css/style.css">
		<!-- responsive style sheet -->
		<link rel="stylesheet" type="text/css" href="css/responsive.css">


		<!-- Fix Internet Explorer ______________________________________-->

		<!--[if lt IE 9]>
			<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
			<script src="vendor/html5shiv.js"></script>
			<script src="vendor/respond.js"></script>
		<![endif]-->

			
	</head>

	<body>
		<div class="main-page-wrapper">

			<!-- ===================================================
				Loading Transition
			==================================================== -->
			<div id="loader-wrapper">
				<div id="loader">
					<ul>
						<li></li>
						<li></li>
						<li></li>
						<li></li>
						<li></li>
						<li></li>
					</ul>
				</div>
			</div>



			<!-- 
			=============================================
				Theme Header
			============================================== 
			-->
			<header class="theme-menu-wrapper full-width-menu header-2">
				<div class="header-wrapper">
					<div class="container-fluid">
						<!-- Logo -->
						<div class="logo float-left tran4s"><a href="index.html" class="mtm-10px"><img src="images/logo/lgo.png" alt="Logo" style="height: 50px;"></a></div>

						<!-- ============================ Theme Menu ========================= -->
						<nav class="theme-main-menu float-right navbar" id="mega-menu-wrapper">
							<!-- Brand and toggle get grouped for better mobile display -->
						   <div class="navbar-header">
						     <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
						       <span class="sr-only">Toggle navigation</span>
						       <span class="icon-bar"></span>
						       <span class="icon-bar"></span>
						       <span class="icon-bar"></span>
						     </button>
						   </div>
						   <!-- Collect the nav links, forms, and other content for toggling -->
						   <div class="collapse navbar-collapse" id="navbar-collapse-1">
							<ul class="nav">
								<li class="dropdown-holder menu-list"><a href="join.html" class="tran3s">join us</a>
								</li>
								<li class="dropdown-holder menu-list"><a href="available.html" class="tran3s">available classes</a>	</li>
								<li class="dropdown-holder menu-list"><a href="admission.html" class="tran3s">admission</a></li>
								<li class="dropdown-holder menu-list"><a href="why-AVESTUD.html" class="tran3s">why AVESTUD</a>
								</li>
								<li class="dropdown-holder menu-list"><a href="how-it-works.html" class="tran3s">how it works</a>
								</li>
								
								<li class="menu-list"><a href="#" class="tran3s">Contact Us</a></li>
								<li class="login-button"><a href="#" class="tran3s" data-toggle="modal" data-target=".signUpModal">login</a></li>
									<li class="login-button"><a href=""  data-toggle="modal" data-target=".registerModal" class="tran3s">Register</a></li>
									<!-- <li class="login-button"><a href="register.html" class="tran3s">Register</a></li> -->
							</ul>
                       </div><!-- /.navbar-collapse -->
						</nav> <!-- /.theme-main-menu -->
					</div> <!-- /.clearfix -->
				</div>
			</header> <!-- /.theme-menu-wrapper -->
			
			<div class="content-wrap blog-single-page mt-100">
                <div class="container">  
                    <div class="row  align-items-center">
                        <div class="col-md-12">
							<h4 class=" text-center "> Select Appropriate Category</h4>
							<p class="text-center">Select the category in which you want to continue studies</p>
                        </div>
                    </div>
                    <div class="row position-relative mt-3rem" style="display:flex; justify-content:center; align-items:center ">
                        <div class="col-md-8 ml-auto col-xs-9 col-md-offset-2 mx-auto">
                            <form role="form">
                                <div class="form-group">
									<label class="fnt-20px theme-color">Select Your Grade</label>
									<div class="d-flex">
										<div class="grade-radio mr-30">
											<input type="radio" id="gade1" name="radio-group" checked>
											<label for="gade1">First Grade</label>
										  </div>
										  <div class="grade-radio mr-30">
											<input type="radio" id="gade2" name="radio-group">
											<label for="gade2">Second Grade</label>
										  </div>
										  <div class="grade-radio mr-30">
											<input type="radio" id="gade3" name="radio-group">
											<label for="gade3">Third Grade</label>
										  </div>
										  <div class="grade-radio mr-30">
											<input type="radio" id="gade4" name="radio-group">
											<label for="gade4">Fourth Grade</label>
									    </div>
									</div>									
                                </div>
                                <div class="form-group pt-2">
                                    <label class="fnt-20px theme-color">Select Your  Board</label>
									<div class="d-flex flex-wrap">
										<div class="grade-radio mr-30">
											<input type="radio" id="board1" name="radio-group1" checked>
											<label for="board1">CBSE Board</label>
										  </div>
										  <div class="grade-radio mr-30">
											<input type="radio" id="board2" name="radio-group1">
											<label for="board2">ICSE Board</label>
										  </div>
										  <div class="grade-radio mr-30">
											<input type="radio" id="board3" name="radio-group1">
											<label for="board3">State</label>
										  </div>
										  <div class="grade-radio mr-30">
											<input type="radio" id="board4" name="radio-group1">
											<label for="board4">IDCSE</label>
										</div>
										<div class="grade-radio mr-30">
											<input type="radio" id="board5" name="radio-group1">
											<label for="board5">IB</label>
										</div>
										<div class="grade-radio mr-30">
											<input type="radio" id="board6" name="radio-group1">
											<label for="board6">ISC</label>
										</div>
										<div class="grade-radio mr-30">
											<input type="radio" id="board7" name="radio-group1">
											<label for="board7">Others</label>
									    </div>
									</div>	
								</div>
								<button class="btn btn_next text-center d-flex justify-content-center mt-50 mx-auto">
									<a href="showresult.html" class="tran3s hvr-trim wow fadeInUp animated p-bg-color button-one hvr-icon-wobble-horizontal" data-wow-delay="0.3s">Explore now<i class="fa fa-long-arrow-right ml-1" aria-hidden="true"></i></a>
								</button>
                            </form>
                       </div>
                       <!-- <div class="col-md-3 col-xs-3">
                        <img src="images/student4.png" class="img-fluid w-77 ml-auto">
					</div> -->
                    </div>
                </div> 
            </div> <!-- /.container -->
			<!-- 
			=============================================
				Footer
			============================================== 
			-->
			<footer class="bg-one">
				<div class="container">
					<div class="row">
						<div class="col-md-5 ">
							<div class="footer-logo">
                                <a href="#"><img src="images/lgo-dark.png" style="height: 50px" alt="Logo"></a>
                                <p class="description">AVESTUD is the perfect study room specially designed for Indian students and parents. As we cover primary to secondary education with best teachers across all the Indian cities. We have kept the education services very affordable as it is our mission to educate India and make education more accessible. </p>
								<!-- <h5><a href="#" class="tran3s">info@AVESTUD.com</a></h5>
								<h6 class="p-color">1234567890</h6> -->
							</div>
						</div>
						<div class="col-md-3 footer-list">
                            <h4>Quick Links</h4>
							<ul>
								<li><a href="#" class="tran3s">Join us as Student</a></li>
								<li><a href="#" class="tran3s">Join us as Student</a></li>
								<li><a href="available.html" class="tran3s">Available Classes</a></li>
                                <!-- <li><a href="#" class="tran3s" data-toggle="modal" data-target=".signUpModal">Login</a></li> -->
                                <li><a href="#" class="tran3s">Admission</a></li>
								<li><a href="#" class="tran3s">Register for Free</a></li>
							</ul>
						</div>
						<div class="col-md-4 col-sm-6 col-xs-12 footer-subscribe">
							<h4>FOLLOW US</h4>
							<ul>
								<li><a href="" class="tran3s"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
								<li><a href="" class="tran3s"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
								<li><a href="" class="tran3s"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
								<li><a href="" class="tran3s"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
							</ul>
						</div>
					</div> <!-- /.row -->
				</div> <!-- /.container -->
			</footer>
				
			<div class="bottom-footer clearfix">
				<div class="container d-flex justify-content-between align-items-center">
					<p class="text-center"> Copyright &copy; 2020 <a href="#" class="tran3s text-white">AARADHANA ONLINE CLASSES PVT LTD</a>. ALL RIGHTS RESERVED.</p>
					<ul class="list-none d-flex justify-content-flex-end other links">
						<li><a href="" class="text-white">Terms & Conditions</a></li>
						<li><a href=""class="text-white">Privacy Policy</a></li>
					</ul>
				</div>
				
			</div>

			<!-- Sign-Up Modal -->
			<div class="modal fade signUpModal theme-modal-box" role="dialog">
				<div class="modal-dialog">
				    <!-- Modal content-->
				    <div class="modal-content">
					    <div class="modal-body">
							<img src="images/logo-dark.png" class="dark-logo">
					        <h5 class="text-center mb-2 pb-2">Login Into Your Student Account</h5>
					        <form action="#">
					        	<div class="wrapper">
					        		<input type="text" placeholder="Phone Number">
					        		<input type="password" placeholder="Password" class="mb-0">
					        		<ul class="clearfix">
										<!-- <li class="float-left">
											<input type="checkbox" id="remember">
											<label for="remember">Remember Me</label>
										</li> -->
										<li class="float-left"><a href="#" class="p-color">Forgot Your Password?</a></li>
									</ul>
									<button class="p-bg-color hvr-trim-two">Login</button>
									<ul class="d-flex justify-content-center pb-0">
										<li class="mr-1">
											Not on AVESTUD?
										</li>
										<li><a href="register.html" class="p-color">Register Now</a></li>
									</ul>
					        	</div>
					        </form>
					    </div> <!-- /.modal-body -->
				    </div> <!-- /.modal-content -->
				</div> <!-- /.modal-dialog -->
			</div> <!-- /.signUpModal -->

			
			<!-- Sign-Up Modal -->
			<div class="modal fade signUpModal theme-modal-box" role="dialog">
				<div class="modal-dialog">
				    <!-- Modal content-->
				    <div class="modal-content">
					    <div class="modal-body">
							<img src="images/logo-dark.png" class="dark-logo">
					        <h5 class="text-center mb-2 pb-2">Login Into Your Student Account</h5>
					        <form action="#">
					        	<div class="wrapper">
					        		<input type="text" placeholder="Phone Number">
					        		<input type="password" placeholder="Password" class="mb-0">
					        		<ul class="clearfix">
										<!-- <li class="float-left">
											<input type="checkbox" id="remember">
											<label for="remember">Remember Me</label>
										</li> -->
										<li class="float-left"><a href="#" class="p-color">Forgot Your Password?</a></li>
									</ul>
									<button class="p-bg-color hvr-trim-two">Login</button>
									<ul class="d-flex justify-content-center pb-0">
										<li class="mr-1">
											Not on AVESTUD?
										</li>
										<li><a href="register.html" class="p-color">Register Now</a></li>
									</ul>
					        	</div>
					        </form>
					    </div> <!-- /.modal-body -->
				    </div> <!-- /.modal-content -->
				</div> <!-- /.modal-dialog -->
			</div> <!-- /.signUpModal -->

			<!-- register Modal -->
			<div class="modal fade registerModal theme-modal-box custom_modal" role="dialog">
				<div class="modal-dialog">
					<!-- Modal content-->
					<div class="modal-content">
						<div class="modal-body">
							<img src="images/logo-dark.png" class="dark-logo">
							<h5 class="text-center mb-2 pb-2">Register in Student Account</h5>
							<form action="#">
								<div class="wrapper">
									<input type="text" placeholder="Full Name">
									<input type="text" placeholder="Phone Number">
									<input type="text" placeholder="Your Grade">
									<select>
										<option value="state1" disabled="" selected="" class="one">Select State</option>
										<option value="state2">Punjab</option>
										<option value="state2">Haryana</option>
									</select>
									<select>
										<option value="state1" disabled="" selected="" class="one">Select City</option>
										<option value="state2">Chandigarh</option>
										<option value="state2">Panchkula</option>
									</select>
									<button class="p-bg-color hvr-trim-two mt-4" data-toggle="modal" data-target=".otpModal"  data-dismiss="modal">Get OTP</button>
									<ul class="d-flex justify-content-center align-items-center pb-0">
										<li class="mr-1">
											Already on AVESTUD?
										</li>
										<li><button class="btn btn-signin p-color" >Login</a></li>
									</ul>
								</div>
							</form>
						</div> <!-- /.modal-body -->
					</div> <!-- /.modal-content -->
				</div> <!-- /.modal-dialog -->
			</div> <!-- /registerModal -->
			
			<!-- otp modal -->
			<div class="modal fade otpModal theme-modal-box custom_modal" role="dialog">
				<div class="modal-dialog">
				    <!-- Modal content-->
				    <div class="modal-content">
					    <div class="modal-body">
							<img src="images/logo-dark.png" class="dark-logo">
					        <h5 class="text-center mb-2 pb-2">Register in Student Account</h5>
					        <form action="#">
					        	<div class="wrapper">
									<div class="otp-form">
										<input type="text" id="digit-1" name="digit-1" data-next="digit-2" />
										<input type="text" id="digit-2" name="digit-2" data-next="digit-3" data-previous="digit-1" />
										<input type="text" id="digit-3" name="digit-3" data-next="digit-4" data-previous="digit-2" />
										<input type="text" id="digit-4" name="digit-4" data-next="digit-5" data-previous="digit-3" />
										<input type="text" id="digit-5" name="digit-5" data-next="digit-6" data-previous="digit-4" />
										<input type="text" id="digit-6" name="digit-6" data-next="digit-7" data-previous="digit-5" />
									</div>
									<span class="input-group-text text-white bg-color-main resnd-otp" id="basic-addon1" ><img src="images/tool.png">Resend 22</span>
					        		<ul class="clearfix">
										<li><a href="" class="black d-flex align-items-center"><img src="images/left3.svg" style="width: 20px;margin-right: 10px;">Back</a></li>
									</ul>
									<button class="p-bg-color hvr-trim-two">Sign Up</button>
									<ul class="d-flex justify-content-center align-items-center pb-0">
										<li class="mr-1">
											Already on AVESTUD?
										</li>
										<li><button class="btn btn-signin p-color" >Login</a></li>
									</ul>
					        	</div>
					        </form>
					    </div> <!-- /.modal-body -->
				    </div> <!-- /.modal-content -->
				</div> <!-- /.modal-dialog -->
			</div> <!-- /.signUpModal -->
			<!--  -->

	        <!-- Scroll Top Button -->
			<button class="scroll-top tran3s">
				<i class="fa fa-angle-up" aria-hidden="true"></i>
			</button>



		<!-- Js File_________________________________ -->

		<!-- j Query -->
		<script type="text/javascript" src="vendor/jquery.2.2.3.min.js"></script>
		<!-- Bootstrap Select JS -->
		<script type="text/javascript" src="vendor/bootstrap-select/dist/js/bootstrap-select.js"></script>

		<!-- Bootstrap JS -->
		<script type="text/javascript" src="vendor/bootstrap/bootstrap.min.js"></script>

		<!-- Vendor js _________ -->
		<!-- Camera Slider -->
		<script type='text/javascript' src='vendor/Camera-master/scripts/jquery.mobile.customized.min.js'></script>
	    <script type='text/javascript' src='vendor/Camera-master/scripts/jquery.easing.1.3.js'></script> 
	    <script type='text/javascript' src='vendor/Camera-master/scripts/camera.min.js'></script>
	    <!-- Mega menu  -->
		<script type="text/javascript" src="vendor/bootstrap-mega-menu/js/menu.js"></script>
		
		<!-- WOW js -->
		<script type="text/javascript" src="vendor/WOW-master/dist/wow.min.js"></script>
		<!-- owl.carousel -->
		<script type="text/javascript" src="vendor/owl-carousel/owl.carousel.min.js"></script>
		<!-- js count to -->
		<script type="text/javascript" src="vendor/jquery.appear.js"></script>
		<script type="text/javascript" src="vendor/jquery.countTo.js"></script>
		<!-- Fancybox -->
		<script type="text/javascript" src="vendor/fancybox/dist/jquery.fancybox.min.js"></script>

		<!-- Theme js -->
		<script type="text/javascript" src="js/theme.js"></script>
		<script>
			$('a[href*="#"]').on('click', function(e) {
				e.preventDefault()

				$('html, body').animate(
					{
					scrollTop: $($(this).attr('href')).offset().top,
					},
					1000,
					'linear'
				)
				})

				$('#myTabs a').click(function (e) {
					e.preventDefault()
					$(this).tab('show')
					})
			</script>

		</div> <!-- /.main-page-wrapper -->
	</body>
</html>